.App-Sidebar {
  grid-area: sidebar;
  padding: 0px;
  background-color: var(--pinball);
  color: var(--kettle-black);
  border-right: 1px solid var(--cantankerous-coyote);
  -webkit-box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.25);
  z-index: 9;
}

.App-Sidebar a {
  color: var(--kettle-black);
}
