ul,
ul ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul ul {
  padding-left: 15px;
}

li {
  padding: 5px 30px;
}

li.Header,
li.Title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px 15px;
}

li.Header {
  border-bottom: 2px solid #000;
  padding: 15px 15px;
}

a {
  text-decoration: none;
}
