.canvas-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

canvas {
  width: 800px;
  height: 800px;
  border-radius: 2px;
  border: 1px solid #000;
}

.ui {
  border-top: 1px solid #000;
}
