body {
  overflow: hidden;
}
/*
.loading {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  transform: skew(-8deg);
}
.left {
  width: 60vw;
  background-color: #144afc;
  border-right: 3px solid #000000;
  transform: translateX(-10vw) translateY(0);
}
.right {
  width: 60vw;
  background-color: #fc7c14;
  border-left: 3px solid #000000;
  transform: translateX(-10vw) translateY(0);
}
.open .left {
  animation: slideOpenLeft 3s ease-in 1 normal forwards;
}
.open .right {
  animation: slideOpenRight 3s ease-in 1 normal forwards;
}
@keyframes slideOpenLeft {
  0% {
    transform: translateX(-10vw) translateY(0vh);
  }
  100% {
    transform: translateX(-10vw) translateY(100vh);
  }
}
@keyframes slideOpenRight {
  0% {
    transform: translateX(-10vw) translateY(0vh);
  }
  100% {
    transform: translateX(-10vw) translateY(-100vh);
  }
} */

.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 75vh 1fr;
  grid-row-gap: 30px;
  grid-template-areas:
    "sidebar sketch"
    "sidebar controls";
}

.App-Sidebar {
  grid-area: sidebar;
  padding: 15px;
  background-color: #eee;
  border-right: 1px solid black;
  -webkit-box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.25);
}

.App-Sketch {
  grid-area: sketch;
  align-self: center;
  justify-self: center;
}

.App-Controls {
  grid-area: controls;
  background-color: #f8f8f8;
  border-top: 1px solid #888888;
  -webkit-box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.25);
  padding: 15px;
}
