@import url("https://fonts.googleapis.com/css?family=Montserrat|Unica+One");

:root {
  --pinball: #d3d3d3;
  --kettle-black: #131313;
  --black-oak: #4f4f4f;
  --dark-silver: #707070;
  --spanish-grey: #989898;
  --goshawk-grey: #444444;
  --knights-armor: #5c5c5c;
  --rainy-grey: #a4a4a4;
  --more-than-a-week: #8c8c8c;
  --dover-grey: #848484;
}

body {
  overflow: hidden;
  background-color: var(--dover-grey);
  font-family: "Unica One", cursive;
}
/*
.loading {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  transform: skew(-8deg);
}
.left {
  width: 60vw;
  background-color: #144afc;
  border-right: 3px solid #000000;
  transform: translateX(-10vw) translateY(0);
}
.right {
  width: 60vw;
  background-color: #fc7c14;
  border-left: 3px solid #000000;
  transform: translateX(-10vw) translateY(0);
}
.open .left {
  animation: slideOpenLeft 3s ease-in 1 normal forwards;
}
.open .right {
  animation: slideOpenRight 3s ease-in 1 normal forwards;
}
@keyframes slideOpenLeft {
  0% {
    transform: translateX(-10vw) translateY(0vh);
  }
  100% {
    transform: translateX(-10vw) translateY(100vh);
  }
}
@keyframes slideOpenRight {
  0% {
    transform: translateX(-10vw) translateY(0vh);
  }
  100% {
    transform: translateX(-10vw) translateY(-100vh);
  }
} */

.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 9fr 50px 5fr;
  grid-template-areas:
    "sidebar sketch"
    "sidebar statusbar"
    "sidebar controls";
}

.App-Sketch {
  grid-area: sketch;
  align-self: center;
  justify-self: center;
  overflow: hidden;
}

.App-Statusbar {
  grid-area: statusbar;
  background-color: var(--goshawk-grey);
  color: var(--pinball);
  border-top: 1px solid var(--rainy-grey);
  -webkit-box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.25);
  padding: 15px;
}

.App-Controls {
  grid-area: controls;
  background-color: var(--kettle-black);
  color: var(--pinball);
  border-top: 1px solid var(--rainy-grey);
  -webkit-box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.25);
  padding: 15px;
}
